<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
html(lang='en' xmlns='http://www.w3.org/1999/xhtml' xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:v='urn:schemas-microsoft-com:vml')
	head
		include ./utilis/metaTags.html 
		style(type="text/css")
			include ./utilis/styles.css
		title Email Title
	body(id='body' style='width:100%; margin:0; padding:0; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;')
		include ./components/00_preheader.html
		table(class='body-table' cellpadding='0' cellspacing='0' border='0' style='margin:0; padding:0; width:100%; background: #FFFFFF;')
			tbody
				tr
					td(valign='top')
						table(class='main-table' cellpadding='0' cellspacing='0' border='0' align='center' width='600')
							tbody
								tr
									td(valign='top' style='vertical-align: top;') 
										table(class='container-table' width='100%' border='0' cellspacing='0' cellpadding='0' style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
											tbody
												tr
													td(valign='top' style='vertical-align: top;')
														include ./components/markdown.pug 
														//- content here
														include ./components/json-data.pug
														
														include ./components/component_1.html
														include ./components/component_2.html
														include ./components/component3.html

